body {
	margin: 0px;
	height: 200vh;
}

@font-face {
	font-family: medium;
	src: url('./font/Montserrat Medium.otf') format("opentype");
}

@font-face {
	font-family: light;
	src: url('./font/Montserrat Light.otf') format("opentype");
}

@font-face {
	font-family: feature;
	src: url('./font/Afterglow Regular.ttf') format("truetype");
}

#Navbar {
	position: fixed;
	height: 120px;
	background-color: rgb(30,30,30);
	width: 100%;
	top: 0px;
	transition: 0.3s;
	z-index: 2;
}

#Navbar-Link-Container {
	float: right;
	top: calc(50% - 30px);
	position: relative;
}

.Navbar-Link {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	line-height: 50px;
	border-bottom: 2px solid transparent;
	font-family: light;
	transition: 0.2s;
	color: white;
	cursor: pointer;
	user-select: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}

.Navbar-Link:hover {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 5px;
	margin-right: 5px;
	border-bottom: 2px solid #ffaa00;
}

#Navbar-Center-Container {
	width: 100%;
	height: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#Navbar-Logo {
	height: 100%;
	position: absolute;
	user-select: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}

#Topbox-Backing {
	width: 100%;
	height: 100vh;
	background-image: url("./images/topimage.png");
	background-position: center;
	background-size: cover;
	position: fixed;
	top: 0px;
	z-index: -1;
}

#Topbox-Container {
	width: 100%;
	height: 100vh;
	position: relative;
}

#Topbox-Header {
	color: white;
	font-family: medium;
	font-size: 4em;
	text-shadow: 0px 0px 5px black;
	margin: 0px;
	user-select: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}

#Topbox-Booknow {
	color: white;
	font-family: light;
	display: inline-block;
	font-size: 2em;
	background-color: rgb(50,50,50);
	margin: 0px;
	margin-top: 20px;
	padding: 15px;
	cursor: pointer;
	user-select: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}

.Bar-Container {
	min-height: 300px;
	background-color: rgb(50,50,50);
	text-align: center;
}

.Bar-Container h2 {
	width: calc(50% - 50px);
	margin: 0px;
	height: 100%;
	text-align: center;
	font-size: 3.4em;
	display: inline-block;
	overflow-x: hidden;
	font-family: feature;
	color: white;
	padding: 20px;
}

.Bar-Container p {
	width: calc(50% - 50px);
	margin: 0px;
	height: 100%;
	text-align: center;
	font-size: 1.4em;
	display: inline-block;
	overflow-x: hidden;
	font-family: light;
	color: white;
	padding: 20px;
	line-height: 100%;
}